.backhome
{
	background-color:green;
	color:beige;
	text-decoration:none;
	font-weight:bolder;
	font-size:20px;
	padding:10px;
	border-radius:20px;
}
body{
	background-image:url("vTtub4.jpg");
	background-size:cover;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
	}

.inpt
{
	padding:5px;
	width:400px;
  margin-bottom:20px;
}
.inptmsg
{
	text-align: left;
margin: 1px;
padding: 1px;
width: 500px;
height: 300px;
vertical-align: top;
}
.MyQuotes
{
	
	padding:20px;
	font-size:30px;
	font-weight:bolder;
	height:100px;
}
.mainQoute
{
	
	background-color:#ffffff82;
	width:60%;
	padding:15px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin:auto ;
}
button{
	font-size:30px;
	font-weight:bolder;
	 background-color: transparent;
	border: none;
	outline: none;
	  text-shadow: 1px 2px 2px green;
}
